---
import Tesla from './Tesla.astro';
---

<header
  id="landing-header"
  class="flex flex-row justify-between items-center fixed w-full py-4 px-6 top-0 z-40"
>
  <div class="flex-grow basis-0 text-white">
    <Tesla />
  </div>
  <nav class="hidden lg:block" id="main-nav">
    <ul class="flex flex-row">
      <li class="py-2 px-4 text-white text-sm font-bold">
        <a href="#">Model S</a>
      </li>
      <li class="py-2 px-4 text-white text-sm font-bold">
        <a href="#">Model 3</a>
      </li>
      <li class="py-2 px-4 text-white text-sm font-bold">
        <a href="#">Model X</a>
      </li>
      <li class="py-2 px-4 text-white text-sm font-bold">
        <a href="#">Model Y</a>
      </li>
      <li class="py-2 px-4 text-white text-sm font-bold">
        <a href="#">Solar Roof</a>
      </li>
      <li class="py-2 px-4 text-white text-sm font-bold">
        <a href="#">Solar Panels</a>
      </li>
      <li class="py-2 px-4 text-white text-sm font-bold">
        <a href="#">Powerwall</a>
      </li>
    </ul>
  </nav>
  <nav id="others-nav" class="flex-grow basis-0">
    <ul class="flex flex-row justify-end">
      <li class="py-2 px-4 text-white text-sm font-bold hidden lg:block">
        <a href="#">Shop</a>
      </li>
      <li class="py-2 px-4 text-white text-sm font-bold hidden lg:block">
        <a href="#">Account</a>
      </li>
      <li class="py-2 px-4 text-white text-sm font-bold">
        <button type="button" id="menu-button">Menu</button>
      </li>
    </ul>
  </nav>
  <nav
    class="lg:hidden absolute z-20 top-0 right-0 bg-white w-[280px] pt-6 pr-6 pl-10 h-screen overflow-y-scroll duration-500 ease-out translate-x-[280px]"
    id="mobile-nav"
  >
    <div class="text-right">
      <button id="close-button" class="py-2 px-4 text-black text-lg">X</button>
    </div>
    <ul class="flex flex-col">
      <li class="py-2 px-4 text-black text-sm font-bold">
        <a href="#">Model S</a>
      </li>
      <li class="py-2 px-4 text-black text-sm font-bold">
        <a href="#">Model 3</a>
      </li>
      <li class="py-2 px-4 text-black text-sm font-bold">
        <a href="#">Model X</a>
      </li>
      <li class="py-2 px-4 text-black text-sm font-bold">
        <a href="#">Model Y</a>
      </li>
      <li class="py-2 px-4 text-black text-sm font-bold">
        <a href="#">Solar Roof</a>
      </li>
      <li class="py-2 px-4 text-black text-sm font-bold">
        <a href="#">Solar Panels</a>
      </li>
      <li class="py-2 px-4 text-black text-sm font-bold">
        <a href="#">Powerwall</a>
      </li>
    </ul>
  </nav>
  <div
    class="hidden lg:hidden absolute z-10 w-screen h-screen top-0 left-0 opacity-50 bg-black/5 backdrop-blur-sm"
    id="backdrop"
  >
  </div>
  <div
    id="menu-backdrop"
    class=`
    absolute left-0 -z-10 translate-x-[var(--left)] w-[var(--width)] h-[var(--height)]
    bg-black/5 backdrop-blur-lg rounded transition-all duration-500 ease-in-out`
  >
  </div>
  <script>
    const listItems = document.querySelectorAll('#landing-header li');
    const mainNav = document.querySelector('#main-nav');
    const othersNav = document.querySelector('#others-nav');
    const menuBackdrop = document.querySelector('#menu-backdrop');
    const menuButton = document.querySelector('#menu-button');
    const mobileNav = document.querySelector('#mobile-nav');
    const backdrop = document.querySelector('#backdrop');
    const closeButton = document.querySelector('#close-button');

    listItems.forEach((item) => {
      item.addEventListener('mouseenter', ({ target }) => {
        const { left, top, width, height } = item.getBoundingClientRect();
        menuBackdrop.style.setProperty('visibility', 'visible');
        menuBackdrop.style.setProperty('--left', `${left}px`);
        menuBackdrop.style.setProperty('--width', `${width}px`);
        menuBackdrop.style.setProperty('--height', `${height}px`);
      });
    });
    mainNav.addEventListener('mouseleave', () => {
      menuBackdrop.style.setProperty('visibility', 'hidden');
    });
    othersNav.addEventListener('mouseleave', () => {
      menuBackdrop.style.setProperty('visibility', 'hidden');
    });
    menuButton.addEventListener('click', () => {
      backdrop.classList.remove('hidden');
      mobileNav.classList.remove('animate-slide-out');
      mobileNav.classList.add('animate-slide-in');
    });

    backdrop.addEventListener('click', () => {
      backdrop.classList.add('hidden');
      mobileNav.classList.remove('animate-slide-in');
      mobileNav.classList.add('animate-slide-out');
    });

    closeButton.addEventListener('click', () => {
      backdrop.classList.add('hidden');
      mobileNav.classList.remove('animate-slide-in');
      mobileNav.classList.add('animate-slide-out');
    });
  </script>
</header>
