---
import Section from '../layouts/Section.astro';
---

<Section title="Starting at $32,740" subtitle="After Federal Tax Credit">
  <div slot="header">
    <h2 class="text-gray-800 text-[40px] font-semibold">Model 3</h2>
    <p class="text-gray-800 text-sm">Starting at $32,740</p>
    <p class="text-gray-800 text-sm">After Federal Tax Credit</p>
  </div>
  <div class="pb-[30px]" slot="footer">
    <div class="flex flex-row justify-center gap-8 pb-8">
      <a
        href=""
        class="px-[90px] py-3 bg-white rounded text-gray-800 text-sm hover:text-white hover:bg-gray-800"
        >Explore Inventory</a
      >
      <a
        href=""
        class="px-[90px] py-3 bg-gray-800 rounded text-white text-sm hover:text-gray-800 hover:bg-white"
        >Custom Order</a
      >
    </div>
    <p class="text-xs text-gray-800 text-center">
      3 months free Supercharging when you take delivery of a new Inventory
      vehicle by June 30.
    </p>
  </div>
  <img
    class="h-full w-full object-cover"
    slot="media"
    src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_2560,w_4096,c_fit,f_auto,q_auto:best/Homepage-Model-3-Desktop-LHD"
  />
</Section>
