---
import Section from '../layouts/Section.astro';
---

<Section>
  <div slot="header">
    <h2 class="text-gray-800 text-[40px] font-semibold">Model 3</h2>
    <p class="text-gray-800 text-sm">Starting at $32,740</p>
    <p class="text-gray-800 text-sm">After Federal Tax Credit</p>
  </div>
  <div class="pb-[30px] px-6" slot="footer">
    <div
      class="flex flex-col items-center md:flex-row justify-center gap-8 pb-8"
    >
      <a
        href="#"
        class="py-3 w-full md:w-[280px] bg-white rounded text-gray-800 text-sm hover:bg-neutral-100"
        >Explore Inventory</a
      >
      <a
        href="#"
        class="py-3 w-full md:w-[280px] bg-gray-800 rounded text-white text-sm hover:bg-gray-900"
        >Custom Order</a
      >
    </div>
    <p class="text-xs text-gray-800 text-center">
      3 months free Supercharging when you take delivery of a new Inventory
      vehicle by June 30.
    </p>
  </div>
  <picture slot="media">
    <source
      media="(min-width: 640px)"
      srcset="https://digitalassets.tesla.com/tesla-contents/image/upload/h_2560,w_4096,c_fit,f_auto,q_auto:best/Homepage-Model-3-Desktop-LHD"
    />
    <img
      alt="Model-3"
      class="h-full w-full object-cover"
      src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_4096,w_1927,c_fit,f_auto,q_auto:best/Homepage-Model-3-LHD-Mobile"
    />
  </picture>
</Section>
